@import url('../css/loader.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* Form */
.form-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}
.search-form {
  display: flex;
}
.search-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 16px 0 0;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  outline: none;
  width: 250px;
  background: transparent;
}
.search-form button,
.load-more-btn {
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4e75ff;
  transition: all 0.25s ease;
}
.load-more-btn {
  display: block;
  margin: 15px auto;
}
.search-form button:hover,
.load-more-btn:hover {
  background: #6c8cff;
}
.is-hidden {
  visibility: hidden;
  height: 0;
  padding: 0;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0 12px;
}
.item-gallery {
  width: calc(33.3333% - 24px);
  margin: 0 12px;
  border: 1px solid #808080;
  display: flex;
  flex-wrap: wrap;
}
.item-gallery a {
  display: block;
  position: relative;
  max-height: 250px;
}
.item-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 12px;
  width: 100%;
}
.item-info-content {
  width: calc(25% - 12px);
  text-align: center;
  padding: 4px 0;
}
.item-info-content p {
  font-size: 12px;
  margin: 0;
}
.item-info-content p:first-of-type {
  font-weight: 600;
}
.item-info-content p:last-of-type {
  line-height: 24px;
}
.js-backdrop {
  background: rgba(46, 47, 66, 0.8);
}
